* {
  font-family: sans-serif;
}

:root {
  --color-titulo: #eabe3f;

}

body {
    padding: 0;
    margin: 0;
}

.migas-de-pan {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.migas-de-pan a, .migas-de-pan a:visited {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}

.migas-de-pan a:hover {
  color: var(--color-titulo);
  transition: 0.5s;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-color:#0A0E11;
    background-position: center; 
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--color-titulo);
}

header img {
  height: 100%;
  width: 100px;
}


.container{
  display: grid;
  grid-template-columns: 330px auto;
  border-top: 1px solid #151515;
  height: 140vh;
}

main {
  background-color: #0a0e11;
  color: white;
  overflow-y: auto;
}

.titulo-main {
  color: var(--color-titulo);
}

.barra-lateral{
  width: 289px;
  border-right: 1px solid #151515;
  height: 140vh;
  padding: 20px;
  margin: 0px;
  background-color: #0a0e11;
  display: flex;
  flex-direction: column;
}

.botones-barra {
  background-color:  #151515;
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}



.botones-barra:hover {
  background-color: var(--color-titulo);
  transition: 0.5s;
  cursor: pointer;
  .link-botones {
    transition: 0.5s;
    color: black;
  }
}

.link-botones {
  text-decoration: none;
  color: var(--color-titulo);
  font-weight: 700;
}



#comentarios {
  background-color: #151515;
  padding: 10px 20px;
  height: 300px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#comentarios > h2 {
  color: var(--color-titulo);
  font-size: 17px;
  margin-top: 20px;
  text-align: center;
}

#comentarios > p {
  text-align: left;
  font-size: 14px;
  color: var(--color-titulo);
}

.contenedor-cliente {
  margin-right: auto;
  margin-left: auto;
}

#img-cliente {
  width: 140px;
  height: 140px;
  margin-left: 20%;
  border-radius: 50%;
}

.pruebafooter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}


table.table-footer {
  border: 1px solid #151515;
  background-color: #151515;
  width: 100%;

}

.table-footer td, .table-footer th {
  padding: 10px;
  text-align: left;
  width: 25%;
}



.table-footer tr, .table-footer td > a {
  color: var(--color-titulo);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.table-footer tr > td > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 800;
}



footer p{
  text-align: center;
}