#titulo-main {
  text-align: center;
  color: #eabe3f;
}

#formulario-y-contacto {
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-around;
}

#titulo-formulario {
  font-size: 18px;
  text-align: left;
}

#formulario-contacto {
  border: 1px solid #eabe3f;
  border-radius: 20px 40px;
  display: inline-block;
  width: 350px;
  height: 400px;
  margin-left: 20px;
  padding-left: 24.5px;
  background-color: #151515;
}

#form {
  margin-left: 10px;
  height: 350px;
  color: #eabe3f;
}

#form > label {
  font-weight: 600;
  font-size: 15px;
}

#form > input, #form > textarea {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  resize: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

#form > textarea {
  height: 80px;
}

#form > button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #222222;
  color: #eabe3f;
}

#form > button[type="submit"]{
  background-color: #eabe3f;
  width: 52px;
  color: black;
}



#contenedor-informacion {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  width: 450px;
  
}

#dolar-api, #dolar-api:visited {
  background-color: #3730a3;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 1s linear;
}

#dolar-api:hover{
  background-color: #151515;
  color: #eabe3f;
  font-weight: 600;
}


#datos-contacto-utn {
  display: flex;
  flex: column;
  margin-top: auto;
  padding-left: 10px;
  border-radius: 10px 20px;
  background-color: #151515;
}



.datos-contacto > h2 {
  color: #eabe3f;
}

#logo-utn {
  width: 180px;
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 480px){
  h2 {
    color: red;
  }
}