body {
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-color:#0A0E11;
    background-position: center; /* Centrar la imagen dentro del contenedor /
    background-repeat: no-repeat; / No repetir la imagen */
    font-size: 1rem;
    font-family: sans-serif;
    color: #c89c19;
}

header img {
  height: 100%;
  width: 100px;
}

.container{
  display: grid;
  grid-template-columns: 330px auto;
  border: 1px solid #111111;
  height: 100vh;
}

main {
  background-color: #040514;
  color: white;
  overflow-y: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#item-select {
    display: inline-flex;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #0f0819;
    padding-left: 15px;
    padding-right: 15px;
}

.selector {
    width: 280px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
}


#container-parrafo {
    text-align: right;
    margin-right: 70px;
    font-family: sans-serif;
    font-size: 14px;
}

#pizarra {
    background-color: #0f0819;
    height: 55%;
    border-radius: 20px;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px 10px;
    overflow-x: auto;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


input[type="checkbox"]:checked + .star{
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }
      /* color: diseño  CAMBIAR LUEGO DE TENER LAS FUNCIONALIDADES LISTAS*/
      color: yellow;
      transition: 1s;
  }

.input-star-checkbox {
    display: none;
}

.precio {
    grid-template-columns: repeat(2, 48px);
    grid-template-areas: 
    "compra" "venta"
    "precio1" "precio2"
    ;
}

.item-1 {grid-area: compra;}
.item-2 {grid-area: precio1}
.item-3 {grid-area: venta;}
.item-4 {grid-area: precio2;}


.moneda {
    display: inline;
    border: 1px solid #3a3c54;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 20px;
    width: 420px;
}

article.moneda > p, article.moneda div {
    display: inline;
}

#advertencia {
    margin-left: 15px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

#contenedor-dolar-api {
    text-align: right;
    font-family: sans-serif;
    margin-right: 15px;
}

.clase-dolar-api {
    display: inline-block;
    background-color: #060821;
    padding: 3px;
}

#dolar-api {
    background-color: #3730a3;
    padding-left: 3px;
}


.barra-lateral{
    width: 289px;
    height: 639px;
    padding: 20px;
    margin: 0px;
    background-color: #040514;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #153448;
}

.botones-barra {
    background-color: #153448;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
}

.botones-barra:hover {
    background-color: #eabe3f;
    transition: 1s;
    cursor: pointer;
}

.link-botones {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#comentarios {
    background-color: #0f0819;
    padding: 10px 20px;
    height: 300px;
    border-radius: 10px;
}

#comentarios > h2 {
    color: rgb(181, 166, 166);
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
}

#comentarios > p {
    text-align: left;
    font-size: 14px;
    color: white;
}
#img-cliente {
    width: 140px;
    height: 140px;
    margin-left: 45px;
    border-radius: 50%;
}

table {
    border: 1px solid #eabe3f;
    background-color: #eabe3f;
    width: 100%;

}

td, th {
    padding: 10px;
    text-align: left;
    width: 25%;
}

tr,td > a {
    color: #0A0E11;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

tr > td > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 800;
}



footer p{
    text-align: center;
}