body {
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-color:#0A0E11;
    background-position: center; /* Centrar la imagen dentro del contenedor /
    background-repeat: no-repeat; / No repetir la imagen */
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--color-titulo);
}

header img {
  height: 100%;
  width: 100px;
}

.container{
  display: grid;
  grid-template-columns: 330px auto;
  border: 1px solid #111111;
  height: 100vh;
}

main {
  background-color: #040514;
  color: white;
  overflow-y: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#item-select {
    display: inline-flex;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #151515;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--color-titulo);
}

.selector {
    width: 280px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
}


#container-parrafo {
    text-align: right;
    margin-right: 70px;
    font-family: sans-serif;
    font-size: 14px;
}

#pizarra {
    background-color: #151515;
    height: 45%;
    border-radius: 20px;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px 10px;
    overflow-x: auto;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


input[type="checkbox"]:checked + .star{
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
      }
      /* color: diseño  CAMBIAR LUEGO DE TENER LAS FUNCIONALIDADES LISTAS*/
      color: goldenrod;
      transition: 1s;
  }

.input-star-checkbox {
    display: none;
}

/* .precio {
    grid-template-columns: repeat(2, 48px);
    grid-template-areas: 
    "compra" "venta"
    "precio1" "precio2"
    ;
}

.item-1 {grid-area: compra;}
.item-2 {grid-area: precio1}
.item-3 {grid-area: venta;}
.item-4 {grid-area: precio2;} */


.moneda {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--color-titulo);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0px 20px;
    width: 420px;
    justify-content: space-between;
}

article.moneda > p, article.moneda div {
    display: inline-flex;
    padding-top: 6px;
    margin-right: auto;
    color: var(--color-titulo);
}


.precio {
 
    width: 170px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.precio-compra {
    display: flex;
    flex-direction: column; 
}

.precio-venta {
    display: flex;
    flex-direction: column;
}

.precio-compra > p {
    /* display: block; */
}


.moneda :last-child {
    margin-top: 2px;
    align-self: center;
}

#advertencia {
    margin-left: 15px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

#contenedor-dolar-api {
    text-align: right;
    font-family: sans-serif;
    margin-right: 15px;
}

.clase-dolar-api {
    display: inline-block;
    background-color: #060821;
    padding: 3px;
}

#dolar-api {
    background-color: #3730a3;
    padding-left: 3px;
}



table {
    border: 1px solid var(--color-titulo);
    background-color: var(--color-titulo);
    width: 100%;

}

td, th {
    padding: 10px;
    text-align: left;
    width: 25%;
}

tr,td > a {
    color: #0A0E11;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

tr > td > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 800;
}



footer p{
    text-align: center;
}