* {
    font-family: sans-serif;
}

#contenedor-select-grafico {
    display: flex;
    flex-direction: row;
    height: 300px;
}

h2 {
    text-align: center;
    color: var(--color-titulo);
    font-size: 25px;
}

#label-select {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 8px;
    color: var(--color-titulo);
}


#item-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #1A1A1A;
    color: var(--color-titulo);
    padding-left: 25px;
    padding-right: 15px;
    max-width: 300px;
    width: 400px;
    height: 100px;
    margin-top: 50px;
}

.selector {
    width: 100%;
    max-width: 240px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #cf9833;
    border: 1px solid #151515;
    color: black;
}


#select-lupa {
    display: flex;
    align-items: center;
    width: 90%;
}

#filter {
    margin-left: 15px;
    font-size: 20px;
    color: var(--color-titulo);
}


.imagen-grafico {
    width: 540px;
    height: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 26px;
}

    
#compartir-informacion {
    margin-left: 25px;
    text-decoration: underline var(--color-titulo);
    color: var(--color-titulo);
    font-weight: 600;
}

.fa-envelope {
    margin-left: 5px;
    color: var(--color-titulo);
}

#tabla-informes {
    background-color: #151515;
    border: none;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

#tabla-informes  th, #tabla-informes td {
    color: var(--color-titulo);
    text-align: center;
    width: 20%;
}


.fa-arrow-down {
    color: red;
}

.fa-arrow-up {
    color: green;
}